# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
#df['Date'] = pd.to_datetime(df['date'], utc=True).dt.strftime("%d-%m-%Y")
df['Date']= pd.to_datetime(df['date'])
df.dtypes

station            object
date               object
prcp              float64
tobs                int64
Date       datetime64[ns]
dtype: object

In [4]:
# Set the date column as the DataFrame index
df=df.set_index('Date')

In [5]:
# Drop the date column
df=df.drop(columns='date')
#df.index.inferred_type == "datetime64"

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months

#jundf = clean_df[pd.to_datetime(clean_df.index).dt.month == 6]
jun_df = df[df.index.month ==6]
dec_df = df[df.index.month ==12]

In [8]:

#jun_df = clean_df[clean_df.index.dt.month == 6 & clean_df.index.dt.month == 12]
#jun_df=clean_df.loc[]
#jun_dec=clean_df.loc[((clean_df.index== 6) | (clean_df.index==12))]
#jun_dec_df=jun_dec.sort_index()
#jun_dec_df.head()
#jun_df=clean_df[((clean_df.index.month == 6) & (6 <= ts.index.day)  # in Feb after the 2nd inclusive
              #| (ts.index.month == 12) & (ts.index.day <= 12))]

In [9]:
# Identify the average temperature for June
jun_df.mean()

/var/folders/ng/g2rw737s09b_hmsyrmqzpq300000gn/T/ipykernel_30570/1584524435.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  jun_df.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [11]:
# Identify the average temperature for December
dec_df.mean()

/var/folders/ng/g2rw737s09b_hmsyrmqzpq300000gn/T/ipykernel_30570/1017670213.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dec_df.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [12]:
# Create collections of temperature data
jun_temp = jun_df.tobs
dec_temp = dec_df.tobs

In [13]:
# Run paired t-test
stats.ttest_ind(jun_temp, dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

The p-value obtained from the t-test is lower than 0.05 (or closest to zero) meaning the difference in the average temperatures between the months June and December is considered to be statistically significant.